In [ ]:
str1 = 'python is {} language'
print(str1.format('programming'))

In [ ]:
print('hello {name} your balance is {balance}'.format(name='yug',balance=34532.34))

In [ ]:
str1 = 'python'
print("1".join(str1))

In [ ]:
n = "1020"
print(n)
print(n.isdecimal())

In [ ]:
var1 = '૨૨'  # gujarati numbers
var2 = '३४'  # hindi numbers
var3 = 'VIII' # roman numbers is not a digit
var4 = '1'
print(var1.isdigit())
print(var2.isdigit())
print(var3.isdigit())
print(var4.isdigit())

In [ ]:
list1 = [1,2,3,4]
print(list1)
list1[1] = 'yug'
print(list1)

In [ ]:
list1 = [1,2,3,4]
# list1[:1] = 44  # raises an error
list1[:1] = [44,67,45]  # Here, it should be an iterable when using slice method to change list elements
print(list1)

In [ ]:
list1 = [1,2,3,4,5,6]
print(list1.clear())

In [ ]:
list1 = [1,2,3,4,5]
list1.pop()
print(list1)

In [ ]:
animals = ['dog','cat','rabbit']
animals.remove('lion')
print(animals)   # ValueError: list.remove(x): x not in list

In [ ]:
names = ['yug','neha','jinal','naha']
names.sort()
print(names)

In [ ]:
# vowels list
vowels = ['e', 'a', 'u', 'o', 'i']

# sort the vowels
print(vowels.sort(reverse=True))

# print vowels
print('Sorted list (in Descending):', vowels)

In [ ]:
set1 = {1,2,3,4}
print(set1[1])

In [ ]:
set2 = {1,2,3,4,5}
set2[:] = {5,4,3,2,1}

In [ ]:
set1 = {4,3,2,1,{'yug':99}}
print(set1)

In [ ]:
A = {1,2,3,4}
B = {7,8,9,1}
print(A+B)

In [ ]:
# print(set('apple'))
set1('yug')
print(set1)

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A - B)

In [ ]:
set1 = {1,3,5,7}
set1.discard(3)
print(set1)
set1.discard(38)   # If element is not present it will not through an error
print(set1)

In [ ]:
numbers = {1,2,3,4,5}
numbers.remove(10)
print(numbers)

In [ ]:
A = {1,2,3,5}
B = {3,4,5}
C = {3,6,7,5}
D = {1,2}
# print(A.intersection(B).intersection(C))
print(A.intersection(B,C))
print(A.intersection())
print(A.intersection(B,C,D))

In [ ]:
A = {1,2,3,5}
B = {3,4,5}
C = {3,6,7,5}
D = {1,2}
A.intersection_update(B,C)
# A.intersection_update()
# A.intersection_update(B,C,D)
print(A)

In [ ]:
A = {'a','b','c','d'}
B = {'y':12,'yug':99}
print(A.isdisjoint(B))

In [ ]:
t1 = (1,2,3,4,5)
print(t1)
t1[2] = 56

In [ ]:
t1 = ('p','y','t','h','o','n')
print(t1[-1:2:-1])

In [ ]:
t1 = (1,2,3,4)
t2 = (1,2,33,45)
print(t1+t2)

In [ ]:
list1 = [1,2,3,4]
del list1[2]
print(list1)

In [ ]:
tuple1 = (1,2,3,4)
del tuple1[2]
print(tuple1)

In [ ]:
t1 = (1,2,3,4)
del t1
print(t1)

In [ ]:
# iterating through tuple
tp1 = ('yug',1,2,(34,),45,[12,'tuple'],'72',('yug',))
for i in tp1:
    print(i)

In [ ]:
li = ['yug','88']
string = ''
for i in li:
    print(i)
    string = string + i
print(string)

In [ ]:
list1 = [5,6,6,4,9,5,7,1,2,3,4,5,6]
sub_list = [3,4,5]
# print(sub_list == list1[-4:-1])
# string = str(list1)
# print(string)
# print(list1)
string = ''
sub_string = ''
# for i in list1[list1.index(sub_list[0]):list1.index(sub_list[0])+len(sub_list)]:
#     print(i)
for i in list1:
    i=str(i)
    string = string + i
print(string)
for i in sub_list:
    i=str(i)
    sub_string = sub_string + i
print(sub_string)
if sub_string in string:
    print('It exist')
else:
    print('Doesnot exist')

In [ ]:
dict1 = {1:1,2:2,{1:3}:1}   # for dictionary
print(dict1)
dict2 = {1:1,2:2,{3,4}:1}   # for sets
print(dict2)
dict3 = {1:1,2:2,[13]:1}    # for list
print(dict3)

In [ ]:
dict1 = {1:'yug',2:'y',1:'neha',3:'n',True:'yugtandel'}
print(dict1)

In [ ]:
dict1 = {'yug':34,'karan':99,'students':[88,94,72,78,90]}
dict1['students']

In [ ]:
dict1 = {'yug':34,'karan':99,'course':{'lang':'python','lang2':'JavaScript'}}
d2 = dict1['course']['lang2']
print(d2)

In [ ]:
dict1 = {'yug':99,1:1,2:2}
dict1.clear()
print(dict1)

In [ ]:
dict1 = {1:'one',2:'two'}
dict2 = dict1            # here data is same but variables are different if you make changes  
     # in one variable(suppose dict1), changes will also be applied on another variable(here, dict2)
print('this is dict1',dict1)
print('this is dict2',dict2)
dict2[3] = 'three'
print('this is dict1',dict1)
print('this is dict2',dict2)
del dict1[1]
print('this is dict1',dict1)
print('this is dict2',dict2)

In [ ]:
# fromkeys()  method
alpha = ['a','b','c']
num = [1,2,3]
dict.fromkeys(alpha,num)

In [ ]:
alphabets = ['a','b','c']
pairs = {1:'one',2:'two',3:'three'}
values = [1,2]
d1 = dict.fromkeys(alphabets,values)
d2 = dict.fromkeys(pairs,values)   # it only accepts the keys from the "pairs" dictionary
print(d1)
print(d2)

In [ ]:
person = {'name':'yug','age':22}
l1 = person.items()
print(l1)
for i in l1:
    print(i)

In [ ]:
person = {'name':'yug','age':22}
l1 = list(person.items())
print(l1)
for i in l1:
    print(i)

In [ ]:
marks = {'maths':89,'physics':99}
print(marks.items())
print(list(marks.items()))
# l1 = list(marks.items())
# print(l1)

In [ ]:
employee = {
    'name':'yug',
    'age': 20,
    'gender': 'male'
}

dictionaryKeys = employee.keys()
print(dictionaryKeys)
# dictionaryKeys = list(employee.keys())
# print(dictionaryKeys)

del employee['name']
print(employee)
print(dictionaryKeys)

In [ ]:
fruits = {'apple':2,'orange':3,'grapes':34}
# fruits.pop('apple')   # returns the value at the key 'apple' i.e 2
fruits.pop('mango')    # raise an error
fruits.pop('mango','mango_fruit')   # returns the default value 'mango_fruit'

In [ ]:
person = {'name':'yug','age':20, 'gender':'male'}
person.popitem()   # returns the last element LIFO order. LIFO(Last In First Out)
# person.popitem('name')   # raises an error because popitems dosen't take any arguments

In [ ]:
# setdefault method 
person = {'name':'yug'}
# person.setdefault()    # raises an error, expected at least 1 argument , got 0
print(person.setdefault('age'))  # returns None because default value is not mention
print(person)
print(person.setdefault('age',20))  # returns None because key 'age' is present in the dictionary 
#   and value is None because previously we had given 'age' as a parameter in setdefault() method
print(person.setdefault('gender','male'))  # returns 'male' because default value is male and key is
#   not in the dictionary
print(person)
person.setdefault('name')  # returns 'yug' because 'name'key is already present in the dictionary

In [ ]:
person = {'name':'yug','age':22}
key_values = [('gender','male')]
person.update(key_values)
print(person)

In [ ]:
fruits1 = {'apple':2,'orange':5}
fruits2 = {'mango':12, 'grapes':50}
fruits1.update(fruits2)
print(fruits1)
print(fruits2)

In [ ]:
fruits1 = {'apple':2,'orange':5}
fruits2 = fruits1     # here data is same but variables are different, so changes in one variable,
#    will make changes in another variable because they are refered by each other in memory.
fruits2.update({'tomatoes':34})
print('fruits2 =',fruits2)
print('fruits1 =',fruits1)

In [ ]:
n = {1:'one',2:'fekhsdhf'}
d = {3:'three',2:'two'}
n.update(d)
print(n)

In [ ]:
n = {}
tuple_pairs = [(1,'one'),(2,'two')]
list_pairs = [['fruit','mango'],['veg','carrot']]
set_pairs = [{'name','yug'},{'age',22}]
n.update(tuple_pairs)
print(n)
n.update(list_pairs)
print(n)
n.update(set_pairs)
print(n)

In [ ]:
set1 = {1,2,{1,2}}

In [ ]:
fruits = {'apple':2,'mango':3,'orange':33}
print(fruits.values())
print(list(fruits.values()))

In [ ]:
d1 = {'a':1,'b':2,'c':3}
d2 = {'f':23,'g':10,'a':10}
temp = d1.copy()
temp.update(d2)
# print(temp)
for key in d1:
    if key in d2:
        temp[key] = d1[key]+d2[key]
print(temp)

In [ ]:
l = [['1','2'],['a','b','c']]
ol = range(0,len(l))
# print(ol[1])
count = 0
j = 0
for i in range(0,len(l[0])*len(l[1])):
    if count >= len(l[1]):
        print(l[0][1]+l[1][j])
        j = j+1
        if j == 3:
            j = 0
    else:
        print(l[0][0]+l[1][j])
        j = j+1
        if j == 3:
            j = 0
    count = count + 1

In [ ]:
# list1 = [['yug',8.6],['neha',16.8],['beta',16.8],['alpha',16.8],['alpha2',16.8],['alpha',123.3]]
list1 = [['Rachel',50],['Mawer',50],['Sheen',50],['Shaheen',51]]
temp = []
for i in list1:
    i.reverse()
    temp.append(i)
temp.sort()
print(temp)

for j in range(1,len(temp)): 
    if temp[0][0] == temp[1][0]: 
        temp.remove(temp[1])      
    else:
        break
print(temp)
s=2
c=0
list2 = []
for j in range(1,len(temp)): # j = 1,2,3,4,
    if j == 1:
        list2.append(temp[j])
    else:
        if temp[1][0] == temp[s][0]: # s = 2,3,4
            list2.insert(j,temp[j])
            s = s+1        
        else:
            break
print(list2)
list3 = []
for i in list2:
    i.reverse()
    list3.append(i)
print(list2)
list2.sort()
print(list2)
for i in list2:
    print(i[0])

In [ ]:
string = 'iaefenihefhiehcijeceoicoiehciwefsfsefsdfgrrhjtdfdce'
string = 'eddcba'
temp = ''
list1 = []
j = 0
for i in string:
    if i not in temp:
#         print(i,string.count(i))
        list1.append([i,string.count(i)])
#         list1[j].reverse()
        j = j+1
        temp = temp + i
    else:
        continue
print(list1)
print()
# list1.sort()
# print(list1)
print()
for j in range(len(list1)):
    list1[j].reverse()
print(list1)
print()

list1.sort(reverse = True)
print(list1)
# del list1[3:]
# print(list1)

for j in range(len(list1)):
    list1[j].reverse()
# print(list1)
list1.sort()
print(list1)

list2 = []
list3 = []
j = 0
# for i in range(len(list1)):
if list1[0][1]>=list1[1][1]:
    if list1[0][1]>list1[2][1]:
        list2.append(list1[0])
        list1.remove(list1[0])
    else:
        list2.append(list1[2])
        list1.remove(list1[2])
else:
    list2.append(list1[1])
    list1.remove(list1[1])
print(list1)
print(list2)

for i in range(1):
    if list1[0][1]>list1[1][1]:
        list2.append(list1[0])
        list1.remove(list1[0])
    elif list1[0][1]==list1[1][1]:
        break
    else:
        list2.append(list1[1])
list2 = list2 + list1
print(list2)
for (i,j) in list2:
    print(i,j)
# for i in range(len(list1)): # i = 0
#     if list1[0][1] > list1[1][1]:
#         list2.append(list1[0])  
#         list1.pop(list1[0])    
#     elif list1[0][1] == list1[1][1]:
#         pass
#     else:
#         list3.append(list1[0])
# #         list1.pop(list1[1])
# print(list2)

In [ ]:
l1 = [['a', 2], ['b', 3], ['c', 2]]
l1.remove(l1[0])
print(l1)

In [ ]:
string = 'uecuiegcyugweycbwegchuecyugewyugweyc'
list1 = list(string)
print(list1)
# list1 = dict(list1)

In [ ]:
string = 'yug'
str1 = string[0:10]
print(str1)

In [ ]:
string = 'abcdefghijklmnopqrstuvwxyz'
max_width = 4
final = ''
j = 0
for i in range(1,len(string)//max_width + 2):
    final = final + string[j:max_width*i] + '\n'
    j = j + max_width
print(final)

In [ ]:
# string = 'bacdebacaeeedcebcde'
string = 'dbac'
temp = ''
l1 = []
l2 = []
for i in string:
    if i not in temp:
#         count(i)
        print(i,string.count(i))
        l1.append(i)
        l2.append(string.count(i))
        temp = temp + i 
    else:
        pass
print(l1)
print(l2)
dictionary = {}
for i in range(len(l1)):
    dictionary.setdefault(l1[i],l2[i])
print(dictionary)

In [ ]:
import operator
s = input()
s = list(s)
s.sort()
print(s)

d1 = dict()
for c in s:
    if c in d1:
        d1[c] = d1[c] + 1
    else:
        d1[c] = 1
# print(d1)
w={k: v for k,v in sorted(d1.items())}
res = {k: v for k, v in sorted(d1.items(),key = lambda v:v[1],reverse = True)}
print(res)
temp = []
for i in res:
    p=i, res[i]
    (list(p)).reverse()
#     print(list(p))
    temp = temp + [list(p)]
del temp[3:]
print(temp)
for (i,j) in temp:
    print(i,j)

In [ ]:
# dict1 = {1:'one',2:'two'}
# for (i,j) in dict1:
#     print(i,j)
list1 = [[1,2],[3,4]]
for i,j in list1:
    print(i,j)

In [ ]:
# Task

# A newly opened multinational brand has decided to base their company logo on the three most common characters in the company name. They are now trying out various combinations of company names and logos based on this condition. Given a string , which is the company name in lowercase letters, your task is to find the top three most common characters in the string.

# Print the three most common characters along with their occurrence count.
# Sort in descending order of occurrence count.
# If the occurrence count is the same, sort the characters in alphabetical order.

s = input()
# s = 'cdabbaacadd'
x = s.count('a')
print(x)

list1 = list(s)
list1.sort()
print(list1)
temp = ''
list2 = []
for i in list1:
    if i not in temp:
        list1.count(i)
        print(i,list1.count(i))
        list2.append([i,list1.count(i)])
        temp = temp + i
    else:
        continue
# print(list2)

for i in range(len(list2)):
    for j in range(len(list2)-1):
        if list2[j][1] < list2[j+1][1]:
            list2[j], list2[j+1] = list2[j+1], list2[j]
print(list2)
del list2[3:]
print(list2)
for (i,j) in list2:
    print(i,j)